#certificates .modern-card
	width: 400px
	max-height: 103px
	margin-top: 10px
	p
		width: 100%
	text-align: left

#certificates .modern-card .card-header
	padding-bottom: 0px

.flexbox .row
	gap: 10px
	margin-top: 10px
	justify-content: center

	&:first-child
		margin-top: 0px

@media (max-width: $mobile) 
	.card-header
		padding: 10px 10px 10px 10px 
	.modern-card
		margin: 10px
		width: 380px !important

@media (max-width: $half-screen)
	.flexbox .modern-card
		margin: auto
	#resume .modern-card
		margin: auto