
.nav-menu a
	padding: 8px 15px
	min-height: 40px

.config 
	display: flex 
	justify-content: start 
	width: 100% 
	height: 120px 
	padding: 0px 15px 

* > .col-lg-4.aos-init.aos-animate
	max-width: 350px
	margin: auto

@media (max-width: $mobile) 
	.config 
		height: 50px 

	.nav-menu a
		padding: 3px 15px
