#skills .container .row
	display: flex
	flex-direction: row
	gap:10px
	margin: 0 10px
	
.shelf
	display: flex
	justify-content: space-around
	align-items: center

	outline: 2px solid var(--text-b)
	padding: 10px
	border-radius: 5px

	width: 48%
	@media (max-width: $mobile) 
		width: 100%

	a
		display: flex
		align-items: center
		flex-direction: column
		justify-content: space-between
		font-size: .8rem
		height: 100%
		text-align: center
		color: var(--text-a)

		&.loading:hover
			scale: 100%

		transition: 0.3s ease-out
		&:hover
			scale: 115%

		small
			font-size: small
			font-style: italic
			opacity: .6

@media (min-width: $mobile)
	.shelf
		margin-top: 10px

@media (max-width: $mobile)
	#skills .container .row
		margin-top: 10px

.loading
	cursor: default
	position: relative

	img, small
		opacity: .4

	&::before
		color: var(--text-c) !important
		content: 'Estudando'
		background-color: var(--bg2)
		border-radius: 10%
		position: absolute
		top: 30%
		z-index: 3